// normal

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

input,
button,
select {
  outline: none;
}


.container {
  width: 100%;
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
